<h2>FUNDAMENTAL ANALYSIS</h2>
<ul>
  <li><a routerLink="analysis/poland">Poland (WSE, NC)</a></li>
  <li><a routerLink="analysis/usa">USA (NYSE, NASDAQ)</a></li>
  <li><a routerLink="analysis/germany">Germany (Xetra)</a></li>
  <li><a routerLink="analysis/uk">UK (LSE)</a></li>
</ul>

<h2>STEPS FOR FUNDAMENTA ANALYSIS</h2>
<ol>
  <li>basic indicators (PE, DY, DPR, ROA, ROE, DTE, insiders, no. shares)</li>
  <li>debt/ebitda and cfo > |cfi + cff| - equity&debt issuance</li>
  <li>sector analysis - whether the sector has a future</li>
  <li>dividend analysis and Projection</li>
  <li>situational analysis (SWOT, what does the company do, what and how it earns money, what is its policy and market goals, what is followed by the management of the company when implementing a specific policy)</li>
  <li>balance sheet and forecast</li>
  <li>comparison to competition</li>
  <li>general image of the company (news, management, scandals, ...)</li>
</ol>

<h2>TOOLS</h2>
<ul>
  <li><a routerLink="tools/intrinsic-value">intrinsic value</a></li>
  <li>dividend tax for Poland residency (Lynx)</li>
  <li>dividend tax for Poland residency (Degiro)</li>
</ul>

<h2>TAXES</h2>
<ul>
  <li>https://ppcg.com.pl/blog/podatek-od-dywidendy-zagranicznej-z-etf/</li>
  <li>https://www.stockwatch.pl/forum/wpisy-11029_ADR-i-ETF-a-dywidenda.aspx</li>
  <li>http://www.przepisy.gofin.pl/przepisy,4,15,90,162,,,umowa-miedzy-rzadem-rzeczypospolitej.html</li>
  <li>https://inwestomat.eu/jak-rozliczyc-podatek-z-etf/</li>
</ul>
