<h2>FUNDAMENTAL ANALYSIS</h2>
<ul>
  <li><a routerLink="analysis/poland">Poland (WSE, NC)</a></li>
  <li><a routerLink="analysis/usa">USA (NYSE, NASDAQ)</a></li>
  <li><a routerLink="analysis/germany">Germany (Xetra)</a></li>
  <li><a routerLink="analysis/uk">UK (LSE)</a></li>
</ul>

<h2>STEPS FOR FUNDAMENTA ANALYSIS</h2>
<ol>
  <li>basic indicators (PE, DY, DPR, ROA, ROE, DTE)</li>
  <li>analiza sektorowa - czy sektor ma przyszłość</li>
  <li>analiza dywidend</li>
  <li>analiza sytuacyjna (pozycja firmy na rynku, SWOT, czym zajmuje się przedsiębiorstwo, na czym i w jaki sposób zarabia pieniądze, jaka jest jego polityka i cele rynkowe, czym kierują się zarządzający firmą realizując określoną politykę.)</li>
  <li>analiza finansowa, prognozy</li>
  <li>porównanie do konkurencji</li>
  <li>ogólny obraz spółki (newsy, zarząd, afery, ...)</li>
  <li>Debt/equity jest fajnym wskaźnikiem jak ktoś zaczyna. W materiałach dla bardziej zaawansowanych wykorzystuję raczej debt/ebitda. A dla mocno zaawansowanych warunek cfo > |cfi + cff| - equity&debt issuance</li>
</ol>

<h2>TOOLS</h2>
<ul>
  <li><a routerLink="tools/intrinsic-value">intrinsic value</a></li>
  <li>dividend tax for Poland residency (Lynx)</li>
  <li>dividend tax for Poland residency (Degiro)</li>
</ul>

<h2>TAXES</h2>
<ul>
  <li>https://ppcg.com.pl/blog/podatek-od-dywidendy-zagranicznej-z-etf/</li>
  <li>https://www.stockwatch.pl/forum/wpisy-11029_ADR-i-ETF-a-dywidenda.aspx</li>
  <li>http://www.przepisy.gofin.pl/przepisy,4,15,90,162,,,umowa-miedzy-rzadem-rzeczypospolitej.html</li>
  <li>https://inwestomat.eu/jak-rozliczyc-podatek-z-etf/</li>
</ul>
