<div class="section-border">
  <h3>Basic indicators</h3>

  <dl>
    <dt>P/E</dt>
    <dd>{{ data.pe }}</dd>
    <dt>(Forward) Dividend Yield</dt>
    <dd>{{ data.dy }}</dd>
    <dt>Dividend Payout Ratio</dt>
    <dd>{{ data.dpr }}%</dd>
    <dt>ROA</dt>
    <dd>{{ data.roa }}%</dd>
    <dt>ROE</dt>
    <dd>{{ data.roe }}%</dd>
    <dt>Debt To Equity</dt>
    <dd>{{ data.dte }}</dd>
    <dt>Estimated Prices Range</dt>
    <dd>{{ data.estimatedPricesRange }}</dd>
    <dt>insiders</dt>
    <dd>{{ data.insiders }}</dd>
    <dt>no. shares</dt>
    <dd>{{ data.numberOfSharesTrend }}</dd>
  </dl>
</div>
