<a routerLink='/' class="home-link">🏠 Home</a>

<hr>

<router-outlet></router-outlet>

<hr>

<div class="footer">
  <p>Donate if you like my work!</p>

  <img src="assets/QR_Code.png" />

  <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="8A7QDT2JMXCLA" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_PL/i/scr/pixel.gif" width="1" height="1" />
  </form>

  <div style="margin-bottom: 8px; margin-top: 8px;">
    <strong>DISCLAIMER</strong> All information and data on this side is solely for informational purposes. I make no representations as to the accuracy, completeness, suitability or validity of any information. I will not be liable for any errors, omissions, losses, injuries or damages arising from its display or use. All information is provided AS IS with no warranties, and confers no rights. I will not be responsible for the accuracy of material that is linked on this site.
  </div>

  <div>
    Because the information herein is based on my personal opinion and experience, it should not be considered professional financial investment advice or tax advice. The ideas and strategies that I provide should never be used without first assessing your own personal/financial situation, or without consulting a financial and/or tax professional. My thoughts and opinions may also change from time to time as I acquire more knowledge. These are, as discussed above, solely my thoughts and opinions. Your continued reading constitutes your agreement with and acceptance of this disclaimer.
  </div>
</div>
