<h3>Barrick Gold Corporation</h3>

<hr>

<dl>
  <dt>PE</dt>
  <dd>14.28</dd>
  <dt>Forward Dividend Yield</dt>
  <dd>0.36 (1.93%)</dd>
  <dt>DPR</dt>
  <dd>23.66%</dd>
  <dt>ROA</dt>
  <dd>6.71%</dd>
  <dt>ROE</dt>
  <dd>11.75%</dd>
  <dt>DTE</dt>
  <dd>0.23</dd>
  <dt>Estimated prices range</dt>
  <dd>18.67 (min: 21 (+12.5%), avg: 32.11 (+72%), max: 40 (+114.2%))</dd>
  <dt>insiders</dt>
  <dd>buying / selling</dd>
  <dt>no. shares</dt>
  <dd>growing / decreasing</dd>
  <dt>DESCRIPTION</dt>
  <dd>Mining gold and copper in NA, SA, Arfica and Middle East. At least 40 years of mining of gold. Very volotile to gold price (kurs z wiekszym odchyleniem od ceny złota).
    Revenue from 4Q2020
    GOLD 1206 * $1700 = 2050200
    COPPER 119000000 * $3.25 = 386750000</dd>
</dl>

<div style="display: block">
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
  </canvas>
</div>

<div style="display: block">
  <canvas baseChart
          [datasets]="barChartData2"
          [labels]="barChartLabels2"
          [options]="barChartOptions2"
          [legend]="barChartLegend2"
          [chartType]="barChartType2">
  </canvas>
</div>

<img src="/assets/usa/gold/38948546-1600159763931131.png" />

<app-additional-resources [resources]="additionalResources"></app-additional-resources>
