body {
  margin: 0 auto;
  margin-top: 16px;
  width: 800px;
  background-color: #f2e9cd;

  a:visited {
    color: blue;
  }

  .section-border {
    border: 3px double #ccc;
    padding: 6px;
    margin: 6px;
    border-radius: 8px;

    h3 {
      margin-top: 0;
    }
  }
}
